[core]
    editor = nvim

[push]
    followTags = true

[alias]
    l = !git log --pretty=format:'%C(cyan)%h%C(magenta)%d %C(white)%s - %C(yellow)%ae, %C(yellow)%cr'
    s = !git status -s
    p = !git push origin HEAD

[includeIf "gitdir:~/"]
    path = ~/workspace/personal/.gitconfig-personal

[includeIf "gitdir:~/workspace/work/"]
    path = ~/workspace/work/.gitconfig-work
