[core]
    editor = nvim

[push]
    followTags = true

[alias]
    l = !git log --pretty=format:'%C(cyan)%h%C(magenta)%d %C(white)%s - %C(yellow)%ae, %C(yellow)%cr'
    s = !git status -s
    p = !git push origin HEAD
    c = !git commit -m
    ca = !git add --all && git commit -m
    ch = !git checkout
    cne = !git add --all && git commit --amend --no-edit
    chd = !git checkout develop
    chnb = !git checkout -b

[includeIf "gitdir:~/"]
    path = ~/workspace/personal/.gitconfig-personal

[includeIf "gitdir:~/workspace/work/"]
    path = ~/workspace/work/.gitconfig-work
